{% extends 'base/base.html' %}

{% block content %}
    <a href="{% url 'post_create' %}">
        <button>작성하기</button>
    </a>

    {% for post in posts %}
        <div class="post"><a href="{% url 'post_detail' post.pk %}">
            <img width="400" height="500" src="{{ post.photo.url }}" alt="">
            <p>{{ post.id }}</p>
            <p>{{ post.photo.url }}</p></a>

            {% for comment in  post.comment_set.all|slice:'4' %}
                <p>{{ comment.content }}</p>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}